<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title document fragment rendering
    meta(name="viewport", content="width=device-width,initial-scale=1")
  body
    h1 document fragment rendering

    .times
      .time
        p create table time (use fragment)
        span.js-table-fast-time
        span (ms)

      .time
        p create table time
        span.js-table-slow-time
        span (ms)

    .tables
      table.js-table-fast
        thead
          tr
            th id
            th name
            th image
            th price
        tbody

      table.js-table-slow
        thead
          tr
            th id
            th name
            th image
            th price
        tbody
