<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title document fragment rendering
    meta(name="viewport", content="width=device-width,initial-scale=1")
  body
    h1 document fragment rendering

    table.table
      thead
        tr
          th id
          th name
          th price
      tbody